@{
  Layout = "_Layout";
}

<h1>Welcome to the Doctor-Patient Management System!</h1>
<p>@Html.ActionLink("See all patients", "Index", "Patients")</p> <p>@Html.ActionLink("See all doctors", "Index", "Doctors")</p>